body {
    background: linear-gradient(39deg, rgba(1,0,15,0.9640231092436975) 1%, rgba(1,21,33,1) 27%, rgba(1,6,20,1) 68%, rgba(0,8,9,0.8631827731092436) 100%);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgba(0, 99, 99, 0.596);
	color: rgb(0, 167, 167);
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h2 {
	color: rgb(0, 150, 150);
	font-size: 24px;
	margin-top: 40px;
}

footer {
	color: rgb(0, 201, 201);
	color: #fff;
    padding: 32px;
	text-align: center;
}

#palavra {
    color: rgba(0, 196, 196, 0.678);
}
#palavra:hover {
    color: rgba(0, 255, 255, 0.678);
    cursor: pointer;
}
.title{
    color: rgb(20, 155, 155);
    font-size: 35px;
    text-align: center;
}
.contatos{
    color: aqua;
}
.voltarinicio{
    font-size: 22px;
}